* {
  margin:  0;
  padding: 1;
 
  }
@font-face {
  font-family: "Anastasia-Regular";
  src: url("./fonts/ANASTAS.TTF");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic-Regular";
  src: url("./fonts/centurygothic.ttf");
  font-style: normal;
  font-display: swap;
}
.home{
  color: black;
  font-size: 2em;
  font-family: "Century Gothic-Regular";
  margin-top: 35px;
}
img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  /* Зависит от размера изображения */
  @media screen and (max-width: 640px){
	img.bg {
	  left: 50%;
	  margin-left: -320px;
	}
  }
}
img.logo {
  min-height: 76%;
  min-width: 640px;
  width: 30%;
  height: auto;
  position: fixed;
  top: 350;
  left: 0;


  @media screen and (max-width: 640px){
	img.bg {
	  left: 50%;
	  margin-left: -320px;
	}
  }
}

.menu-text{
  color: #F1EEE9;
  font-size: 2em;
  font-family: "Century Gothic-Regular";
  margin-top: 35px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}


.example1 {
  display:inline-block;  
  position:relative;
  left:150px;
}
.example1 span {
  display:inline-block;
  position:absolute;
  top:140px;  
  left:155px;
   
  /* Оформление текста */
  font-family: Anastasia-Regular;
        
  font-weight: lighter;
  font-size: 400%;
  color: #264426;
  

}

.example2 {
  display:inline-block;  
  position:relative;

  margin: 0px 0px 0px 125px
   
}
.example2 span {
  display:inline-block;
  position:absolute;
  top:466px;  
  left:-40px;
   
  /* Оформление текста */
  color:#FFF;
  font-family:Century Gothic-Regular;
  font-size:35px;
   
  /* Фон */
  background-color:black;

}

.example3 {
  display:inline-block;  
  position:relative;
  margin-top: 400px;
  margin-bottom: 300px;

}

.banner {
  display:inline-block;  
  position:sticky;
  margin: 0px -1060px 0px 0px;
}
.inner {
  position: absolute;
  top: 260px;
  left: 500px;
  width: 450px;
  height: 450px;
}
.inner2 {
  position: absolute;
  top: 550px;
  left: 1450px;
  width: 100px;
  height: 100px;
}
.picture__button{
  width: 200px;
  height: 50px;
  top:5px;
  right:5px;
  z-index:1;
  background: rgba(255, 255, 255, 0.4);
  font-family: "Century Gothic-Regular";
  font-size:20px;
  font-weight:light;
  color:#264426;
}

.banner span {
  display:inline-block;
  position:absolute;
  top:350px;  
  left:1000px;
  text-align: center;
  font-size: 50%;
  line-height: 45px;



}


blockquote {
  float:right;
  font-family: Century Gothic-Regular;
  padding-left: 6px;
  border-left: 2px solid #264426;
  font-size: 160%;
  color: black;
}

figure {
  /* задаём рамку и внутренние отступы для контента */
  
  padding: 10px;
  /* минимальная ширина блока, после которой не происходит масштабирование */
  min-width: 250px;
}

figcaption {
  /* тэг идет первым в блоке - подпись будет сверху */
  /* выравнивание по центру, и изменим фон */
  text-align: left;
  background: black;
  font-family: "Century Gothic-Regular";
  color: white;
}

img {
  /* картинка займет всю доступную ширину блока figure*/
  width: 100%;
}







figure {
  /* задаём рамку и внутренние отступы для контента */
  
  padding: 10px;
  /* минимальная ширина блока, после которой не происходит масштабирование */
  min-width: 250px;
}

figcaption {
  /* тэг идет первым в блоке - подпись будет сверху */
  /* выравнивание по центру, и изменим фон */
  text-align: left;
  background: black;
  font-family: "Century Gothic-Regular";
  color: white;
}

img {
  /* картинка займет всю доступную ширину блока figure*/
  width: 100%;
}


.plashka {
  z-index: 2;

  position: fixed;
 
  width: 1921px;
  height: 90px;
 
  background: url("./images/home/PLASHKA.svg");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;

}


.plashka a{
  display:inline-block;
 
  float: left;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Century Gothic-Regular"
}



.plashka a:hover {
  background-color: #ddd;
  color: black;
}
.plashka a.active {
  background-color: #4CAF50;
  color: white;
}


.readmore{
  width: 200px;
  height: 50px;
  top:50px;

  z-index:1;
  background: rgba(255, 255, 255, 0.4);
  font-family: "Century Gothic-Regular";
  font-size:23px;
  font-weight:light;
  color:#264426;
}





.videoblock {
  display:inline-block;  
  position:sticky;
 
  margin-top: 250px;
}
.video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
}


.videoblock span {
  display:inline-block;


  text-align: center;
  font-size: 100%;
  line-height: 45px;
  font-family:"Century Gothic-Regular";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFF

}
